# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <github_scm.name>/<path_from_repository_root>.
# github_scm.name is a user supplied string (e.g. "wasm")
# specified in the job configuration (next page).
build_file: "wasm/CredentialProvider/wasm/kokoro/rbe/kokoro_build.sh" 
container_properties {
  docker_image: "us-docker.pkg.dev/artifact-foundry-prod/docker-3p-trusted/ubuntu:22.04"
}

action {
  define_artifacts: {
    regex: "**/wasm32-unknown-unknown/release/*.wasm"
    regex: "**/wasm32-unknown-unknown/release/Cargo.lock"
    regex: "**/wasm32-unknown-unknown/release/THIRD_PARTY_LICENSES"
    strip_prefix: "github/wasm/CredentialProvider/wasm/credential_transfer/target/wasm32-unknown-unknown/release"
    fail_if_no_artifacts: true
  }
}

